{% extends "travels/layout.html" %}
{% load static %}

{% block body %}

{% if page == "register" %}

    <div id="register">
        {% if message %}
            <div>{{ message }}</div>
        {% endif %}

        <form action="{% url 'register' %}" method="post">
            {% csrf_token %}
            <ul class="tab-group">
                <a id="signUp" class="tab active"  href="{% url 'register' %}">Sign Up</a>
                <a id="loginButton"class="tab"  href="{% url 'login' %}">Log In</a>
            </ul>

            <div class="form-group">
                <input class="form-control" autofocus type="text" name="username" placeholder="Username">
            </div>
            <div class="form-group">
                <input class="form-control" type="email" name="email" placeholder="Email Address">
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="Password">
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password">
            </div>
            <input class="btn btn-primary" type="submit" value="Register">
        </form>
    </div>



{% elif page == "login" %}

    <div id="login">
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <ul class="tab-group">
                <a id="signUp" class="tab"  href="{% url 'register' %}" >Sign Up</a>
                <a id="loginButton" class="tab active" href="{% url 'login' %}" >Log In</a>
            </ul>

            <div class="form-group">
                <input autofocus class="form-control" type="text" name="username" placeholder="Username">
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="Password">
            </div>
            <input class="btn btn-primary" type="submit" value="Login">
        </form>
    </div>
    

{% else %}

    <div id="search-bar" class="search-container">
        <form action="{% url 'city' %}" method="post">
            {% csrf_token %}
            <input type="text" placeholder="Search City" name='city' required>
            <button type="submit" class="w3-padding w3-xlarge w3-teal"><i class="fa fa-search"></i></button>
        </form>
    </div>


    <div id="da-metterePicture"  class="container">
        <div id="pictures" class="row justify-content-between"></div>

    </div>
{% endif %}

{% endblock %}

