#da-metterePicture{
	padding: 5%;
}

body{
	background: url('foto viaggi/003.jpg');
	background-repeat: no-repeat;
}

.cards{
	height: 400px;
    perspective: 600px;
	transition: .5s;
	margin: 0 5% 10% 0;
}

.cards:hover .card-front{
	transform: rotateY(-180deg)
}

.cards:hover .card-back{
	transform: rotateY(0deg)
}

.card-front{
    height: 100%;
    width: 100%;
	position: absolute;
	background-size: contain;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transform: rotateY(0deg);
	transition: .5s;
}

.card-back{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    transition: .5s;
    color: #ffffff;
    text-align: center;
}