$button-color: #1ab188;
$text-color: black;
$background-color: black;
$shadow: 10px -10px 5px  rgba(0,0,0,0.3);

.main {
	/* Fill the available space */
	height: 100vh;
	/* Make the children of the element closer to the viewport */
	perspective: 2px;	
	/* Hide the overflow */
	overflow-x: hidden;
}

/* General styling, not necessarily related to parallax effect  */
.section {
	position: relative;
	display: flex;
	height: 100%;
}
  
  /* Different background colors for demo purpose */
.static-one {
	background-image: url('foto viaggi/background/moon.png');
	background-repeat: no-repeat;
	transform: translateZ(-8px) scale(2);
    background-position: right;
}

.static-two {
	background-image: url('foto viaggi/background/balloons.png');
	background-repeat: no-repeat;
	transform: translateZ(-4px) scale(3);
    z-index: 2;
}

.static-three {
	background-image: url('foto viaggi/background/ground.png');
	background-repeat: no-repeat;
	transform: translateZ(-2px) scale(2);
	/* Set the parallax section before the other elements. */
	z-index: 3;
}
/*
.static-four {
	background-image: url('foto viaggi/background/Layer4.png');
	background-repeat: no-repeat;
	transform: translateZ(-1px) scale(2);
	// Set the parallax section before the other elements.
	z-index: 4;
}

.static-five {
	background-image: url('foto viaggi/test/Layer5.png');
	background-repeat: no-repeat;
	transform: translateZ(0px) scale(2);
	// Set the parallax section before the other elements.
	z-index: 5;
}
*/
#da-metterePicture{
	padding: 5%;
}

#register, #login{
    margin: 5%;
    background-color: $background-color;
}

.logo{
	width: 150px;
  } 

.tab-group {
    list-style: none;
    padding:0;
	margin:0 0 40px 0;
	&:after {
		content: "";
		display: table;
		clear: both;
	}
	a {
		display:block;
		text-decoration:none;
		padding:15px;
		background:rgba(#a0b3b0,.25);
		color:#a0b3b0;
		font-size:20px;
		float:left;
		width:50%;
		text-align:center;
		transition:.5s ease;
		&:hover {
			background: $button-color;
			color: $text-color;
		}
	}
	.active {
		background: $button-color;
		color: $text-color;
	}
}

body{
	//background: url('foto viaggi/003.jpg');
	background: url('foto viaggi/background/Background.png');
	background-repeat: no-repeat;
}

.cards{
	height: 400px;
	perspective: 600px;
	transition: .5s;
	margin: 4%;
	padding: 0;
	&:hover .card-front{		
		transform: rotateY(-180deg);
		
	}
	&:hover .card-back{
		transform: rotateY(0deg);
	}
	.card-front, .card-back{
		border: 10px solid white;
		height: 100%;
		width: 100%;
		background-size: contain;
		background-repeat: no-repeat;
		background-color: white;
		backface-visibility: hidden;
		transform: rotateY(0deg);
		transition: .5s;
		box-shadow: $shadow;
	}
	.card-back{
		position: absolute;
		top: 0;
		left: 0;
		transform: rotateY(180deg);
		h2{
			height: 100%;
    		padding: 50% 0;
			color: $text-color;
			text-align: center;
		}
	}
}

.search-container{
	margin: 10%;
	text-align: center;
	form{
		height: 60px;
	}
	input[type="text"]{
		width: 90%;
		height: 100%;
		float: left;
		border-radius: 0 0 0 20px;
		background-color: $button-color;
		border: unset;
		box-shadow: $shadow;
		padding-left: 20px;
	}
	input[type="text"]::placeholder{
    	color: white;
	}
	button{
		background-color: $button-color;
		width: 10%;
		height: 100%;
		border: unset;
		border-radius: 0 20px 0 0;
		box-shadow: $shadow;
	}
}
